// Universal Border Box
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Text selection
// source: HTML5Boilerplate
::-moz-selection {
    background: $c-key;
    color: white
    text-shadow: none;
}
::selection {
    background: $c-key;
    color: white
    text-shadow: none;
}

// Base HTML
// source: Inuit.css
html {
    font: (($f-base-size/16px)% * 100%)/$f-line-height-ratio $f-base-family;
    overflow-y: scroll;
    height: 100%;
    color: $c-text;
}

// Inherit height from html and viewport
// See following stack overflow discussion for more details...
// http://stackoverflow.com/questions/10947541/applying-a-background-to-html-and-or-body/10947583#10947583
body {
    min-height:100%;
}

// get rid of default underlining of links
a {
    color: $c-key;
    text-decoration: none;
}

// Responsive Images
img {
    max-width: 100%;
}

// Images in figure elements
// source: Inuit.css
figure > img {
    display: block;
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers
// source: h5bp.com/i/440
audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

// Allow only vertical resizing of textareas.
// source: HTML5Boilerplate
textarea {
    resize: vertical;
}

// remove default styling from button elements, make them generalised action elements
button {
    border: 0;
    background: none;
}

