// Globally available variables start with $ for easy identification

// Breakpoints
$palm-start = 300px
$hand-start = 600px
$lap-start  = 900px
$desk-start = 1200px
$wall-start = 1500px

// Colors
$c-text = #444
$c-key = #0e98bc
$c-accent = #fdf33f
$c-base = #e7e7e6
$c-light = #f0f0ed
$c-medium = #777
$c-dark = #444
$c-error = #D6261A

// Font Weights
$f-thin = 100
$f-extra-light = 200
$f-light = 300
$f-normal = 400
$f-medium = 500
$f-semi-bold = 600
$f-bold = 700
$f-extra-bold = 800
$f-ultra-bold = 900

// Typography
$f-base-size = 15px
$f-line-height = 20px
$f-line-height-ratio = 1.33 // set explicitly vs computed to avoid rounding errors
$f-base-family = "Helvetica Neue", "Arial", sans-serif
$f-base-weight = $f-light

// Vertical Rhythm / Consistent Spacing
$gap = $f-line-height
$half-gap = $gap / 2
$double-gap = $gap * 2
$triple-gap = $gap * 3

// Grid defaults (all easily overridable in mixin)
$grid-default-cols = 12
$grid-default-leading = 0
$grid-default-gutter = 1.6%
$grid-min-width = 960px
$grid-max-width = 1300px

