@require "settings"

// Debug utilities
//
// Additive alpha BG
debug()
    & *
        background rgba(255,0,0,0.1)

// Border variation
debugb()
    border 1px dotted rgba(255,0,0,0.5)
    & *
        border 1px dotted rgba(255,0,0,0.5)

// All But... utilities
//
// Apply styles to all but the last element of it's type
all-but-first()
    &:not(:first-of-type)
        {block}

// Apply styles to all but the last element of it's type
all-but-last()
    &:not(:last-of-type)
        {block}


// Clearfix utility
//
// source: http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
clearfix()
    &:after
        content ""
        display table
        clear both


// Font Face utility
//
// source: Axis - http://roots.cx/axis/
// Super simple font-face declaration. Just give the name and the folder it lives in.
// Make sure the font name matches the name of the files.
// Uses the fontspring syntax: http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
// ex. font-face(proxima-nova, '/fonts')
font-face(name, folder, weight = normal, style = normal)
    @font-face
        font-family name
        src url(folder unquote('/') name unquote('.eot') '?#iefix') format('embedded-opentype'), url(folder unquote('/') name unquote('.woff')) format('woff'), url(folder unquote('/') name unquote('.ttf')) format('truetype'), url(folder unquote('/') name unquote('.eot') '#svgFontName') format('svg');
        font-weight weight
        font-style style


// Switch webkit/Mac OS font smoothing on/off
//
// 'On' is better used with light-on-dark text to prevent excessive bolding
// AVOID using globally and/or on dark-on-light text, see:
// http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
// http://www.usabilitypost.com/2012/11/05/stop-fixing-font-smoothing
font-smoothing(value = on)
    if value is on
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
    else
        -webkit-font-smoothing subpixel-antialiased
        -moz-osx-font-smoothing auto

// Set pixel font size in rems
font-size-rem(size)
    font-size size
    font-size unit((size / $f-base-size), 'rem')

// Bounded Responsive Font Size
//
// http://madebymike.com.au/writing/precise-control-responsive-typography/
font-range(min, max, start, end)
    $start = start * 1px
    $end = end * 1px
    font-size min * 1px
    @media (min-width: $start) and (max-width: $end)
        font-size ((min + max) / 2) * 1px
        font-size s("calc( %spx + (%s - %s) * ( (100vw - %spx) / (%s - %s) ));", min, max, min, start, end, start)
    @media (min-width: $end)
        font-size max * 1px

// https://eduardoboucas.com/blog/2015/06/18/viewport-sized-typography-with-minimum-and-maximum-sizes.html
font-spread(size, min, max = false, fallback = false)
    if unit(size) is 'vh'
        $dimension = height
    else
        $dimension = width
    $unitless = unit(size, '')
    $min-break = round(min / $unitless * 100)
    $max-break = round(max / $unitless * 100)

    @media (max-{$dimension}: $min-break)
        font-size-rem min

    if max
        @media (min-{$dimension}: $max-break)
            font-size-rem max

    if fallback
        font-size-rem fallback

    font-size size


// List Seperator - Separate list items with a character
//
// Abstracted from Harry Roberts' breadcrumb code
// at http://csswizardry.com/2011/09/the-nav-abstraction/
list-separator(divider, horizontal-spacing = $gap)
    li:before
        content divider
        margin auto horizontal-spacing
    li:first-child:before
        content normal


// No Selection
//
// source: Axis - http://roots.cx/axis/
// Prevent text selection of an element

no-select()
    -webkit-touch-callout none
    user-select none

// Style form input placeholder text across browsers
//
// source css-tricks.com
placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        /* FF 4-18 */
        {block}
    &::-moz-placeholder
        /* FF 19+ */
        {block}
    &:-ms-input-placeholder
        /* IE 10+ */
        {block}

// Position utility
//
// source: Nib - http://visionmedia.github.io/nib/
// usage: <position> <pos> [n] <pos> [n]
// example: absolute bottom 10% right 15px
-pos(type, args)
    i = 0
    position: unquote(type)
    for j in (1..4)
        if length(args) > i
            {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
            i += 1

fixed()
    -pos('fixed', arguments)

absolute()
    -pos('absolute', arguments)

relative()
    -pos('relative', arguments)


// Size utility
//
// source: Nib - http://visionmedia.github.io/nib/
// usage: size <width> <height> | <width&height>
size()
    if length(arguments) is 1
        width arguments[0]
        height arguments[0]
    else
        width arguments[0]
        height arguments[1]


// Triangle
//
// source: Axis - http://roots.cx/axis/
// usage: triangle <direction> <size> <color>
// example: triangle down 15px blue
triangle(direction = up, size = 10px, color = #000)
    width 0
    height 0
    if direction is up
        border-left size solid transparent
        border-right size solid transparent
        border-bottom size solid color
    else if direction is down
        border-left size solid transparent
        border-right size solid transparent
        border-top size solid color
    else if direction is left
        border-top size solid transparent
        border-bottom size solid transparent
        border-right size solid color
    else if direction is right
        border-top size solid transparent
        border-bottom size solid transparent
        border-left size solid color
